# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
#*.ipynb

# Environments
.venv/
venv/
env/
ENV/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary files
*~
*.swp
*.swo
